
body{
background:#0b0f1a;
color:#00ffc8;
font-family:Arial;
text-align:center;
}

.box{
background:#111827;
width:60%;
margin:auto;
padding:30px;
border-radius:10px;
}

input{
padding:10px;
margin:10px;
width:60%;
}

button{
padding:10px;
background:#00ffc8;
border:none;
}

.terminal{
background:black;
color:#00ff00;
padding:20px;
font-family:monospace;
text-align:left;
margin-top:20px;
}
