body{
margin:0;
background:#020409;
font-family:monospace;
color:#00ffcc;
}

.sidebar{
position:fixed;
width:200px;
height:100vh;
background:#030712;
box-shadow:0 0 25px #00ffcc;
padding:20px;
}

.sidebar h2{
text-shadow:0 0 15px #00ffcc;
}

.sidebar p{
margin:20px 0;
}

.main{
margin-left:220px;
padding:40px;
}

.card{
background:#050b18;
padding:25px;
margin-bottom:30px;
border-radius:10px;
box-shadow:0 0 20px #00ffcc44;
}

input{
width:60%;
padding:12px;
background:black;
border:1px solid #00ffcc;
color:#00ffcc;
margin:10px;
}

button{
padding:12px;
background:#00ffcc;
border:none;
cursor:pointer;
}

button:hover{
box-shadow:0 0 15px #00ffcc;
}

.terminal{
background:black;
padding:20px;
height:260px;
overflow:auto;
box-shadow:0 0 20px #00ffcc inset;
}

.open{
color:#00ff00;
}

.done{
color:#00ffff;
}
