<!DOCTYPE html>
<html>
<head>
<title>CyberSecure Toolkit</title>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/matrix.js"></script>
</head>

<body>

<div class="sidebar">
<h2>⚡ CST</h2>
<p>Recon</p>
<p>Password</p>
<p>Status</p>
</div>

<div class="main">

<h1>CyberSecure Toolkit v4</h1>

<div class="card">

<h3>Password Intelligence</h3>

<form method="POST">
<input type="password"
name="password"
placeholder="Enter Password">
<button>Analyze</button>
</form>

{% if strength %}
<div class="terminal">
<p>> Password Analysis Loaded</p>
<p style="color:{{color}}">
Strength → {{strength}}
</p>
<p>Security Score → {{score}}%</p>
<p>Estimated Crack Time → {{crack}}</p>
</div>
{% endif %}

</div>

<div class="card">

<h3>Recon Scanner</h3>

<form method="POST">
<input name="target"
placeholder="domain.com or IP">
<button>Start Scan</button>
</form>

{% if ip %}
<div class="terminal">
<p>> Target Locked → {{ip}}</p>
<p>> Enumerating Services...</p>

{% for port,service in ports %}
<p class="open">[OPEN] {{port}} → {{service}}</p>
{% endfor %}

<p class="done">SCAN COMPLETE</p>
</div>
{% endif %}

</div>

</div>

</body>
</html>
