<!DOCTYPE html>
<html>
<head>
<title>CyberSecure Toolkit</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>⚡ CyberSecure Toolkit v3</h1>

<div class="panel">

<h2>Password Intelligence</h2>

<form method="POST">
<input type="password" name="password"
placeholder="Enter Password">
<button>Analyze</button>
</form>

{% if strength %}
<div class="terminal">
<p>[+] Password Analysis Complete</p>
<p style="color:{{color}}">
Strength → {{strength}}
</p>
<p>Security Score → {{score}}%</p>
<p>Crack Time → {{crack}}</p>
</div>
{% endif %}

<hr>

<h2>Target Scanner</h2>

<form method="POST">
<input name="target"
placeholder="Enter URL or IP">
<button>Scan Target</button>
</form>

{% if ip %}
<div class="terminal">
<p>[+] Target Resolved → {{ip}}</p>
<p>[+] Starting Enumeration...</p>

{% for port,service in ports %}
<p>[OPEN] {{port}} → {{service}}</p>
{% endfor %}

<p>[✓] Scan Complete</p>
</div>
{% endif %}

</div>

</body>
</html>
